<div id="<%= dom_id user %>">
  <span>
    <strong>Account:</strong>
    <%= user.account_id %>
  </span>

  <span>
    <strong>First name:</strong>
    <%= user.first_name %>
  </span>

  <span>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </span>

</div>
